#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left:-135px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 180px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0px 250px 250px 0px; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left:0px; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #fb {
    top: 140px;
    background-color: #3b5998;
  }
  
  #insta {
    top: 200px;
    background-color:#C13584; /* Blue */
  }
  
  #twitter {
    top: 260px;
    background-color: #55acee; /* Red */
  }
  
  #youtube {
    top: 320px;
    background-color: #555 /* Light Black */
  }

  #pinterest {
    top: 380px;
    background-color: #bd081c 
  }

 input{
    background-color: rgba(255, 255, 255, 0.1);
  }
input:focus{
    background-color: rgba(255, 255, 255, 0.1);
}
textarea{
  background-color: rgba(255, 255, 255, 0.1);
}
textarea:focus{
  background-color: rgba(255, 255, 255, 0.1);
}

form{
  /* border:3px solid; */
  margin: auto;
  width:50%;
  /* max-width: 1000px; */
  margin-top: 1%;
  max-height: 550px;
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  /* -webkit-overflow-scrolling: auto; */
}

