<div class="col-md-12 col-lg-12" style="margin-top: 5%;">
    <h3 style="text-align: center;">Account Details</h3>
    
    <div class="row">
        <br />
        <div class="offset-lg-1 col-lg-10 col-md-10">
            <br/>
            <!-- Table to display the details of the User after login -->
            <table class="table table-striped  table-hover" style="border-top-width: 2px" border="1">
                <tr>
                    <th>Account Number</th>
                    <td>{{accountNumber}}</td>
                </tr>
                <tr>
                    <th>Full Name</th>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{city}}</td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>{{age}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{mailId}}</td>
                </tr>
                <tr>
                    <th>Mobile Number</th>
                    <td>{{phoneNumber}}</td>
                </tr>
            </table>
        </div>
        <br/>
        <br/>
    </div>
</div>