<div *ngIf="finish && !loading">
<div class="col-md-12 col-lg-12" style="margin-top: 5%;">
    <br/>
    <h3 style="text-align: center;font-size: 40px;">Withdraw</h3>
    <br/>
    <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
        <!-- Withdraw Money Text Box -->
        <br/>
        <div class="form-group row">
            <label for="withdraw" class="col-lg-4 text-right font-weight-bold">
                Withdraw Amount :
            </label>
            <div class="col-lg-6">
                <input type="number" class="form-control" placeholder="Withdraw Amount" formControlName="withdraw" />

                <div *ngIf="submitted && withdrawForm.controls.withdraw.errors">
                    <div class="text-danger" *ngIf="withdrawForm.controls.withdraw.errors.required">
                        Withdraw Amount is required ..!
                    </div>
                    <div class="text-danger" *ngIf="withdrawForm.controls.withdraw.errors.min">
                        Invalid Amount ..!
                    </div>
                </div>
                <div *ngIf="submitted && insufficientBalance && !(withdrawForm.controls.withdraw.errors)">
                    <div class="text-danger">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
        <!-- End of  Withdraw Money Text Box -->
        <!-- Password Text Box -->
        <div class="form-group row">
            <label for="password" class="col-lg-4 text-right font-weight-bold">
                Password :
            </label>
            <div class="col-lg-6">
                <input type="password" class="form-control " placeholder="Password" formControlName="password" />
                <div *ngIf="submitted && withdrawForm.controls.password.errors">
                    <div class="text-danger" *ngIf="withdrawForm.controls.password.errors.required">
                        Password is required ..!
                    </div>
                </div>
                <div *ngIf="submitted && invalidPassword && !(withdrawForm.controls.password.errors)">
                    <div class="text-danger">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
        <!-- End of  Password Text Box -->

        <div class="col-lg-10 text-right">
            <button class="btn btn-success">Withdraw</button> &nbsp; &nbsp;
            <button class="btn btn-danger" type="reset">Cancel</button> &nbsp; &nbsp;
            <a class="btn btn-outline-warning" routerLink="/userLogin/accDetails">Back</a>
        </div>
        <br/>
    </form>
</div>



</div>

<div class="text-center col-lg-12 col-md-12" *ngIf="!finish && !loading" style="margin-top: 100px;">
    <br>
    <br>
    <img src="/assets/images/success.gif" height="125" width="125" />
    <br>
    <br/>
    <h4 class="text-solid">
        Transaction Successful...!!
    </h4>
</div>
<div class="text-center col-lg-12 col-md-12" *ngIf="loading" style="margin-top: 100px;">
    <br>
    <br>
    <img src="/assets/images/loading.gif" height="125" width="125" />
    <br>
    <br/>
    <h4 class="text-solid">
        Please Wait...
    </h4>
</div>

