<div *ngIf="finish && !loading">
<div class="col-md-12 col-lg-12" style="margin-top: 5%;">
    <br/>
    <h3 style="text-align: center;font-size: 40px;">Fund Transfer</h3>
    <br/>
    <form [formGroup]="fundTransferForm" (ngSubmit)="fundTransfer()">
        <!-- Recepient Account Number Text Box -->
        <br/>
        <div class="form-group row">
            <label for="accountNumber" class="col-lg-4 text-right font-weight-bold">
                Recepient&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/> Account Number :
            </label>
            <div class="col-lg-6">
                <input type="number" class="form-control" placeholder="Recepient Account Number" formControlName="accountNumber" />
                <div *ngIf="submitted && fundTransferForm.controls.accountNumber.errors">
                    <div class="text-danger" *ngIf="fundTransferForm.controls.accountNumber.errors.required">
                         Account Number is required ..!
                    </div>
                </div>
                <div *ngIf="submitted && invalidAccountNumber && !(fundTransferForm.controls.accountNumber.errors)">
                    <div class="text-danger">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Recepient Account Number Text Box -->
       <!-- Transfer Amount Text Box -->
        <div class="form-group row">
            <label for="transfer" class="col-lg-4 text-right font-weight-bold">
                Transfer Amount :
            </label>
            <div class="col-lg-6">
                <input type="number" class="form-control" placeholder="Transfer Amount" formControlName="transfer" />
                <div *ngIf="submitted && fundTransferForm.controls.transfer.errors">
                    <div class="text-danger" *ngIf="fundTransferForm.controls.transfer.errors.required">
                         Transfer Amount is required...!
                    </div>
                    <div class="text-danger" *ngIf="fundTransferForm.controls.transfer.errors.min">
                        Invalid Amount...!
                   </div>
               </div>
                <div *ngIf="submitted && insufficientBalance && !(fundTransferForm.controls.transfer.errors)">
                    <div class="text-danger">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Transfer Amount Text Box -->
        <!-- Password Text Box -->
        <div class="form-group row">
            <label for="password" class="col-lg-4 text-right font-weight-bold">
                Password :
            </label>
            <div class="col-lg-6">
                <input type="password" class="form-control " placeholder="Password" formControlName="password" />
                <div *ngIf="submitted && fundTransferForm.controls.password.errors">
                    <div class="text-danger" *ngIf="fundTransferForm.controls.password.errors.required">
                        Password is required ..!
                    </div>
                </div>
                <div *ngIf="submitted && invalidPassword && !(fundTransferForm.controls.password.errors)">
                    <div class="text-danger">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
        <!-- End of  Password Text Box -->

        <div class="col-lg-10 text-right">
            <button class="btn btn-success">Transfer</button> &nbsp; &nbsp;
            <button class="btn btn-danger" type="reset">Cancel</button> &nbsp; &nbsp;
            <button class="btn btn-outline-warning" routerLink="/userLogin/accDetails">Back</button>
        </div>
        <br/>
    </form>
</div>




</div>

<div class="text-center col-lg-12 col-md-12" *ngIf="!finish && !loading" style="margin-top: 100px;">
    <br>
    <br>
    <img src="/assets/images/success.gif" height="125" width="125" />
    <br>
    <br/>
    <h4 class="text-solid">
        Transaction Successful...!!
    </h4>
</div>
<div class="text-center col-lg-12 col-md-12" *ngIf="loading" style="margin-top: 100px;">
    <br>
    <br>
    <img src="/assets/images/loading.gif" height="125" width="125" />
    <br>
    <br/>
    <h4 class="text-solid">
        Please Wait...
    </h4>
</div>

