
<div class="bg back col-lg-12 col-md-12" style="background-image: url(assets/images/2.jpg);">
    <br/>
    <div class="box1" style="align-items: center;">
        <h4><p>Using <i><b>Safepay</b></i> wallet one can perform operations such as:</p></h4>
        <h5><ol>
            <li>Create an Account</li>
            <li>Login into Account</li>
            <li>Show Balance</li>
            <li>Deposit</li>
            <li>Withdraw</li>
            <li>Fund Transfer</li>
            <li>Edit Profile</li>
            <li>View All Transactions</li>
        </ol></h5> 
    </div>
    <div class="box2">
        <div style="text-align: center;">
            <h3><p style="font-weight: bolder;">Address</p></h3>
            <h5><p>Head Office: Mumbai-400016</p></h5>
            <!-- <h6>Mumbai-533001</h6> -->
            <h5>Contact Details: +91 9492056849</h5>
            <!-- <h6>+91 9492056849</h6> --><br/><br/>
            <h5><p>Branch Office: Pune-411001</p></h5>
            <!-- <h6>Mumbai-533001</h6> -->
            <h5>Contact Details: +91 9492056849</h5>
            <!-- <h6>+91 9492056849</h6> -->
        </div>
    </div>
    
    <br/><br/>
        <div class="staticFoote">
                <div class="b1">
                    <div class="text-center" style="font-weight: bold;">24x7 Help</div>
                    <p style="text-align: center;">You can also use your Safepay Wallet for raising a
                        complaint. For complete list of our Customers.
                </div>
                <div class="b2">
                    <div class="text-center" style="font-weight: bold;">Safepay Trust</div>
                    <p>Your money is yours! All refunds come with no question asked guarantee.</p>
                </div>
                <div class="b3">
                    <div class="text-center" style="font-weight: bold;">100% Assurance</div>
                    <p>At Safepay, we provide 100% assurance. If you have any issue, your money is immediately refunded.
                        Sit back and enjoy our services.</p>
                    </div>
                <div class="b4">
                    <div class="text-center" style="font-weight: bold;">Our Promise</div>
                    <p>Happiness is guaranteed at Safepay. If we fall short of your expectations, give us a shout.</p>
                </div>
        </div>
        <br/><br/>
    </div>